@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=DynaPuff:wght@500&family=Figtree&family=Itim&family=Kanit&family=Prompt&family=Raleway:wght@400;600;700&family=Rubik+Marker+Hatch&display=swap');

body,html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Kanit', sans-serif;
    scroll-behavior: smooth;
}

.main-img{
    background: url(https://media.discordapp.net/attachments/920846679702396976/1037327311609024563/27578007138_5a1b5f4a94_b.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
}

.main-text{
  color: white;
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 150%;
  padding: 0;
}

.main-text p{
    border: solid 1px white;
    width: 9%;
    margin-left: 45%;
    text-decoration: none;
}

.main-text p:hover{
    background-color: rgb(242, 32, 81);
    border-color: rgb(242, 32, 81);
}

.content1{
    border: solid 1px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding-bottom: 10%;
    
}

.content1 h1{
    font-size: 300%;
    text-align: center;
    
}

.box1{
    height: 200%;
    width: 60%;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 20%;
    overflow: hidden;
    border: solid 1px rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.con-img{
    width: 80%;
    padding-left: 10%;
    padding-top: 0%;
    text-align: center;
}

.box1 h2{
    padding-left: 10%;
}

.box1 h3{
    padding-left: 10%;
    padding-top: 1%;
    margin-right: 10%;
}

.box1 p{
    margin-left: 10%;
    margin-top: 0%;
    margin-right: 10%;
}




@media only screen and (max-width: 1000px) {
    .main-text{
        top: 20%;
    }
    .main-text p{
        width: 30%;
        display: block;
        margin-left: 35%;
    }
    .box1{
        height: 195%;
    }

}